/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #0C356A;
}

a {
  text-decoration: none;
  color: #ffb03b;
}

a:hover {
  color: #ffc56e;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffb03b;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #ffc064;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  padding: 0; !important;
  font-size: 15px; !important;
  height: 50px;!important;
  transition: all 0.5s;!important;
  background: rgb(12, 53, 106, 0.5);!important;
  z-index: 996;!important;
  color: rgba(255, 255, 255, 0.7);!important;
}
#topbar.topbar-transparent {
  background: transparent;!important;
}
#topbar.topbar-scrolled {
  top: -50px;!important;
}
#topbar i {
  color: #ffb03b;!important;
  line-height: 0;!important;
}
#topbar i span {
  color: #fff;!important;
  font-style: normal;!important;
  padding-left: 5px;!important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  top: 50px;
  height: 70px;
  z-index: 997;
  transition: all 0.5s;
  padding: 10px 0;
  background: linear-gradient(127deg, rgba(1, 29, 63,.8), rgba(1, 29, 63, 0) 95.71%),
              linear-gradient(336deg, rgba(124, 0, 36,.8), rgba(124, 0, 36,0) 95.71%),
              linear-gradient(0deg, rgba(1, 29, 63,.8), rgba(1, 29, 63, 0) 95.71%),
              linear-gradient(217deg, rgba(121, 21, 91,.8), rgba(121, 21, 91,0) 95.71%);
}

#header.header-transparent {
  background: transparent;
}

#header.header-scrolled {
  top: 0;
  background: #011d3f;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Book a table button Menu
--------------------------------------------------------------*/
.book-a-table-btn {
  background: #965800;
  color: #fff;
  border-radius: 50px;
  margin: 0 0 0 20px;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
  white-space: nowrap;
}

.book-a-table-btn:hover {
  background: linear-gradient(127deg, rgba(124, 0, 36,.8), rgba(124, 0, 36,0) 70.71%),
              linear-gradient(336deg, rgba(1, 29, 63,.8), rgba(1, 29, 63, 0) 70.71%),
              linear-gradient(217deg, rgba(121, 21, 91,.8), rgba(121, 21, 91,0) 70.71%);
  color: #fff;
  font-weight: bold;
}

@media (max-width: 992px) {
  .book-a-table-btn {
    margin: 0 15px 0 0;
    padding: 8px 20px;
    letter-spacing: 1px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0; !important;
}

.navbar ul {
  margin: 0; !important;
  padding: 0; !important;
  display: flex; !important;
  list-style: none; !important;
  align-items: center; !important;
}

.navbar li {
  position: relative; !important;
}

.navbar a,
.navbar a:focus {
  display: flex; !important;
  align-items: center; !important;
  justify-content: space-between; !important;
  padding: 10px 0 10px 24px; !important;
  font-size: 15px; !important;
  font-weight: 500; !important;
  color: white; !important;
  white-space: nowrap; !important;
  transition: 0.3s; !important;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px; !important;
  line-height: 0; !important;
  margin-left: 5px; !important;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffb03b; !important;
  background: whitesmoke; !important;
  border-radius: 30px; !important;
  text-align: center; !important;
  font-weight: bold; !important;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff; !important;
  font-size: 28px; !important;
  cursor: pointer; !important;
  display: none; !important;
  line-height: 0; !important;
  transition: 0.5s; !important;
}

@media (max-width: 991px) {
  .mobile-nav-toggle { !important;
    display: block; !important;
  }

  .navbar ul {
    display: none; !important;
  }
}

.navbar-mobile {
  position: fixed; !important;
  overflow: hidden; !important;
  top: 0; !important;
  right: 0; !important;
  left: 0; !important;
  bottom: 0; !important;
  background: rgba(39, 37, 34, 0.9); !important;
  transition: 0.3s; !important;
  z-index: 0; !important;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute; !important;
  top: 15px; !important;
  right: 15px; !important;
}

.navbar-mobile ul {
  display: block; !important;
  position: absolute; !important;
  top: 55px; !important;
  right: 15px; !important;
  bottom: 15px; !important;
  left: 15px; !important;
  padding: 10px 0; !important;
  border-radius: 8px; !important;
  background-color: #fff; !important;
  overflow-y: auto; !important;
  transition: 0.3s;!important;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px; !important;
  font-size: 15px; !important;
  color: #433f39; !important;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ffb03b; !important;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px; !important;
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  color: #5f5950;
}

.section-title h2 span {
  color: #ffb03b;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #66bdfd;
  min-height: 40px;
  margin-top: 120px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 70px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background:rgb(1, 29, 63);;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #ffb03b;
  position: relative;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(14, 0, 54, 0.9);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: linear-gradient(217deg, rgba(124, 0, 36,.8), rgba(124, 0, 36,0) 70.71%),
              linear-gradient(127deg, rgba(245, 245, 245,.8), rgba(245, 245, 245, 0) 70.71%),
              linear-gradient(336deg, rgba(121, 21, 91,.8), rgba(121, 21, 91,0) 70.71%);
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}